.container {
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
    color: rgb(255, 255, 255);
  }
  
  #favorite {
    display: none;
  }
  
  #favorite:checked + .container svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
  }
  
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  #favorite + .container .action {
    position: relative;
    overflow: hidden;
    display: grid;
  }
  
  #favorite + .container .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
  }
  
  #favorite + .container .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  
  #favorite:checked + .container .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
  }
  
  #favorite + .container .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
  }
  
  #favorite:checked + .container .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
  }

.shopping-cart .cart-header{
  padding: 10px;
}
.shopping-cart .cart-header h4{
  font-size: 18px;
  margin-bottom: 0px;
}
.shopping-cart .cart-item a{
  text-decoration: none;
}
.shopping-cart .cart-item{
  background-color: #e7e0e0;
  box-shadow: 0 0.125rem 0.25rem rgba(235, 228, 228, 0.08);
  padding: 10px 10px;
  margin-top: 10px;
}
.shopping-cart .cart-item .product-name{
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.shopping-cart .cart-item .price{
  font-size: 16px;
  font-weight: 600;
  padding: 4px 2px;
}
.shopping-cart .btn1{
  border: 1px solid;
  margin-right: 3px;
  border-radius: 0px;
  font-size: 10px;
}
.shopping-cart .btn1:hover{
  background-color: #2874f0;
  color: #fff;
}
.shopping-cart .input-quantity{
  border: 1px solid #f1eeee;
  margin-right: 3px;
  font-size: 12px;
  width: 40%;
  outline: none;
  text-align: center;
}